Repository Azure/azure-cli-dev-tools, pull requests merged in 2020-03, with the labels that each got.

#156 [Extension] Resolves issue where warning is emitted when update index
  azdev/operations/extensions/__init__.py
Labels: Extension

#174 [extension] remove universal=1 to respect setup.cfg
  azdev/operations/extensions/__init__.py
Labels: Extension

#169 [extension] Fix issue if --yes is not provided while publish extension
  azdev/operations/extensions/__init__.py
Labels: Extension

#177 support CodeGen license
  azdev/operations/legal.py
Labels: Verify

#176 remove Python 2 and Python 3.5 support
  README.md
  README.rst
  azdev/mod_templates/setup.py
  azure-pipelines.yml
  setup.py
  tox.ini
Labels: CI
